@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  /* Custom breakpoints */
  --breakpoint-xs: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;
  --breakpoint-4xl: 1920px;

  /* Custom font family */
  --font-family-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

html, body {
  /* background-color: #000; */
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Custom utility classes for font variations */
.font-plus-jakarta {
  font-family: var(--font-family-plus-jakarta);
  font-optical-sizing: auto;
  font-style: normal;
}

.font-plus-jakarta-bold {
  font-family: var(--font-family-plus-jakarta);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.font-plus-jakarta-extrabold {
  font-family: var(--font-family-plus-jakarta);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.font-plus-jakarta-semibold {
  font-family: var(--font-family-plus-jakarta);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
